@model MVC_Login.ViewModels.LoginUser

@{
    Layout = null;
    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h1>Dashboard</h1>
        <h3>User Name: @Session["UserName"].ToString()</h3>
        <a href="@Url.Action("Logout", "Account")">LogOut</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


